<h1>Weather App</h1>
<div class="locationInputWrapper">
  <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="form">
    <div class="inputs">
      <mat-form-field class="formField">
        <mat-label>Enter a location </mat-label>
        <input
          [matAutocomplete]="auto"
          matInput
          type="text"
          placeholder="London"
          formControlName="location"
        >

        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          *ngIf="formData.value.location"
          (click)="onLocationReset()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of suggestions | async; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="formField">
        <mat-label>Select a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="18.03.2024">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!formData.valid">
      Show Weather
    </button>
  </form>
</div>