.locationInputWrapper {
  margin: 10px auto 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .form {
    gap: 10px;

    .inputs {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .formField {
        width: max(49%, 250px);
        opacity: 1;
      }
    }
  }
}