
<h1>Weather App</h1>
<div class="locationInputWrapper">
  <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="form">
    <div class="inputs">
      <mat-form-field class="formField">
        <mat-label>Enter a location: </mat-label>
        <input matInput type="text" placeholder="London" formControlName="location">
      </mat-form-field>
      <mat-form-field class="formField">
        <mat-label>Select a date: </mat-label>
        <input matInput type="text" placeholder="18.03.2024" formControlName="date">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!formData.valid">
      Show Weather
    </button>
  </form>
</div>