<main class="main">
  <div class="app-wrapper">
    <location-form class="location-form"/>
    <mat-spinner *ngIf="isLoading$ | async" class="spinner"></mat-spinner>
    <div *ngIf="errorMessage$ | async" class="error-message">{{errorMessage$ | async}}</div>
    <div class="cards-holder" *ngIf="current$ | async">
      <daily-weather-card
        class="daily-weather"
        title="Current Weather:"
        [location]="location$ | async"
        [current]="current$ | async"
      />
      <forecast-card class="forecasts"/>
    </div>
  </div>
  <div class="background-image-holder"></div>
</main>
<router-outlet />
