.main {

  .app-wrapper {
    background-color: #fff;
    border-radius: 10px;
    margin: 20px auto;
    opacity: 0.8;
    overflow-y: auto;
    width: min(1200px, 80%);
    max-height: calc(100vh - 80px);
    padding: 20px;
  }

  .location-form {}

  .background-image-holder {
    background-image: url('https://raw.githubusercontent.com/arena-challenges/angular-weather-app/main/docs/weather-app-angular_small.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 250dvh;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  h1 {}

  .spinner {
    margin: auto;
  }

  .error-message {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    width: max(75%, 350px);
    margin: 20px auto;
  }
  .cards-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto;
    width: min(1200px, 100%);

    .daily-weather,
    .forecasts {
      flex-grow: 1;
    }
  }
}