.daily-weather-container {

  .card {
    box-shadow: none;
    border: 1px solid #efefef;
    width: 100%;

    .content {
      .condition {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
          width: 50%;
          aspect-ratio: 1 / 1;
        }
        .text {
          text-align: center;
        }
      }
    }
  }
}
tr.mat-mdc-row {
  height: 2.5em !important;
}